body {
  font-family: "Lato", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.desktop {
  display: none;
}

.about {
  align-items: center;
  justify-content: center;
}

.navBar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}
.navBar .topNavBar {
  display: none;
}
.navBar .bottomNavBar {
  display: none;
}
.navBar .mobileView {
  background-color: #f4d7d4;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navBar .mobileView .fa-bars {
  display: block;
  cursor: pointer;
  margin-left: 30px;
  margin-top: 10px;
  font-size: 35px;
  color: #272A31;
}
.navBar .mobileView .mobilemenu {
  display: none;
  flex-direction: column;
  width: 60%;
  background-color: #D3D3D3;
  opacity: 0.9;
  position: fixed;
  top: 0;
}
.navBar .mobileView .mobilemenu .fa-times {
  color: #272A31;
  font-size: 30px;
  margin-left: 85%;
  margin-top: 5%;
}
.navBar .mobileView .mobilemenu .fa-times i:hover {
  cursor: pointer;
}
.navBar .mobileView .mobilemenu .mobile-menu-items {
  color: #EC5242;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  margin-left: 10%;
  margin-top: 5%;
  text-decoration: none;
}
.navBar .mobileView .mobilemenu .mobile-menu-items:hover {
  color: #272A31;
  cursor: pointer;
}

.homePage {
  background-image: url(../Assets/MainBG.jpg);
  height: 100vh;
}
.homePage .mainContent {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 50px;
  margin-left: 7%;
}
.homePage .mainContent .headingContainer {
  max-width: 500px;
}
.homePage .mainContent .headingContainer .greetingHeading {
  color: #EC5242;
  font-size: 30px;
}
.homePage .mainContent .headingContainer .titleHeading {
  background-image: url(../Assets/headingBG.jpg);
  background-repeat: repeat;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Lato", sans-serif;
  background-size: cover;
  font-weight: 800;
  background-position-y: center;
  font-size: 4rem;
}
.homePage .mainContent .mainDescription {
  border: #D3D3D3 2px solid;
  background: #D3D3D3;
  opacity: 0.8;
  width: 80%;
  max-width: 600px;
  line-height: 25px;
  text-align: center;
}
.homePage .mainContent .date {
  color: #272A31;
  font-size: 30px;
  font-weight: 800;
}

.programSection .program {
  background-image: url(../Assets/peachBG.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.programSection .program h2 {
  color: #272A31;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
  padding-top: 10%;
}
.programSection .program .line {
  border: 0.5px solid #EC5242;
  width: 10%;
  margin: 0 auto;
}
.programSection .program .programContainer {
  display: flex;
  flex-direction: column;
}
.programSection .program .programContainer .programItem {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  background-color: #EC5242;
  margin: 10px;
  align-items: center;
  padding: 2%;
  color: #272A31;
}
.programSection .program .programContainer .programItem img {
  height: 40px;
  opacity: 0.7;
}
.programSection .program .joinButton {
  background-color: #EC5242;
  color: #272A31;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  padding: 20px;
  margin: 10px;
  border: 1px solid transparent;
  cursor: pointer;
}
.programSection .program .joinButton:hover {
  background-color: #EC5242;
  color: #272A31;
}
.programSection .program .joinButton a {
  text-decoration: none;
  color: #272A31;
}

.partnerSection .partnerContainer {
  background-color: #D3D3D3;
}
.partnerSection .partnerContainer h4 {
  color: #272A31;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
  background-color: #D3D3D3 transparent;
}
.partnerSection .partnerContainer .line {
  border: 0.5px solid #EC5242;
  width: 3%;
  margin: 0 auto;
}
.partnerSection .partnerContainer .partnerList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #D3D3D3 transparent;
  opacity: 0.5;
  gap: 20px;
  margin-top: 10px;
  flex-wrap: wrap;
}
.partnerSection .partnerContainer .partnerList .partnerItem {
  align-self: center;
}
.partnerSection .partnerContainer .partnerList .partnerItem img {
  width: 150px;
  height: 100px;
  color: #272A31;
  margin-bottom: 10px;
}

.footer {
  height: 150px;
}
.footer .footerContainer {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .footerContainer .footerLogo img {
  width: 120px;
  height: 120px;
}
.footer .footerContainer .footerCopyright {
  color: #272A31;
}

.aboutPage {
  background-image: url(../Assets/MainBG.jpg);
  height: 100vh;
}
.aboutPage .mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-left: 7%;
}
.aboutPage .mainContent .headingContainer {
  max-width: 500px;
  padding-top: 25px;
}
.aboutPage .mainContent .headingContainer .greetingHeading {
  color: #EC5242;
  font-size: 30px;
}
.aboutPage .mainContent .headingContainer .titleHeading {
  background-image: url(../Assets/headingBG.jpg);
  background-repeat: repeat;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Lato", sans-serif;
  background-size: cover;
  font-weight: 800;
  background-position-y: center;
  font-size: 4rem;
}
.aboutPage .mainContent .mainDescription {
  border: #D3D3D3 2px solid;
  background: #D3D3D3;
  opacity: 0.7;
  width: 80%;
  max-width: 900px;
  text-align: center;
  color: #272A31;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}
.aboutPage .mainContent .contactHeading {
  color: #272A31;
  font-size: 15px;
  line-height: 25px;
}
.aboutPage .mainContent .contactHeading p {
  text-align: center;
}
.aboutPage .mainContent .contactHeading p a {
  color: #272A31;
  text-decoration: none;
}

.logoSection .logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logoSection .logoContainer .logoHeading {
  color: #272A31;
}
.logoSection .logoContainer .logoLine {
  border: 0.5px solid #EC5242;
  width: 25px;
  margin: 0 auto;
}
.logoSection .logoContainer .logoDescription {
  color: #272A31;
  font-size: 15px;
  line-height: 25px;
  max-width: 500px;
  text-align: center;
}
.logoSection .logoContainer .logoImage {
  width: 320px;
  height: 200px;
  max-width: 500px;
  border: 0.5px solid #272A31;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logoSection .logoContainer .logoImage img {
  height: 170px;
  width: 170px;
}
.logoSection .logoContainer .logoImage :hover {
  scale: 2;
  transition: all 0.3s ease-in-out;
}
.logoSection .logoContainer .logoImage p {
  color: #272A31;
  font-size: 12px;
  line-height: 25px;
  text-decoration: overline underline;
}

.pastEvent .pastEventContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px;
}
.pastEvent .pastEventContent .pastEventHeading {
  color: #272A31;
  font-size: 20px;
  line-height: 25px;
  margin: 10px 0 0 0;
}
.pastEvent .pastEventContent .pastEventLine {
  border: 0.5px solid #EC5242;
  width: 25px;
  margin: 0px 10px 10px 10px;
}
.pastEvent .pastEventContent .pastEventDescription {
  color: #272A31;
  font-size: 13px;
  margin-bottom: 20px;
}
.pastEvent .pastEventContent .pastEventContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 3%;
}
.pastEvent .pastEventContent .pastEventContainer :hover {
  cursor: pointer;
  scale: 1.2;
  transition: all 0.3s ease-in-out;
}
.pastEvent .pastEventContent .pastEventContainer .pastEventImage1 {
  height: 200px;
  margin-top: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: linear-gradient(rgba(235, 158, 144, 0.699), rgba(239, 210, 205, 0.699)), url(../Assets/pastEvent1.jpg);
  text-align: center;
  color: #fff;
  background-size: cover;
  background-position-y: -50px;
}
.pastEvent .pastEventContent .pastEventContainer .pastEventImage1 h4 {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}
.pastEvent .pastEventContent .pastEventContainer .pastEventImage2 {
  width: 50%;
  height: 200px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(235, 158, 144, 0.699), rgba(239, 210, 205, 0.699)), url(../Assets/pastEvent2.jpg);
  color: #fff;
  background-size: cover;
  background-position-y: -50px;
}
.pastEvent .pastEventContent .pastEventContainer .pastEventImage2 h4 {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

.speakerSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.speakerSection h2 {
  color: #272A31;
  font-size: 25px;
  line-height: 25px;
  margin: 10px 0 0 0;
  text-align: center;
}
.speakerSection .line {
  border: 0.5px solid #EC5242;
  width: 25px;
  margin: 10px;
}
.speakerSection #jsSection {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 50px;
}
.speakerSection #jsSection .speaker {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
}
.speakerSection #jsSection .speaker img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin: 10px;
  box-shadow: 5px 10px #EC5242;
}
.speakerSection #jsSection .speaker .speakerInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 400px;
  text-align: left;
  color: #272A31;
}
.speakerSection #jsSection .speaker .speakerInfo h3 {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}
.speakerSection #jsSection .speaker .speakerInfo .position {
  color: #EC5242;
  font-size: 15px;
  font-weight: 600;
}
.speakerSection button {
  background: #EC5242;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 20px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}
.speakerSection button :hover {
  background: #EC5242;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 20px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  scale: 1.2;
  transition: all 0.3s ease-in-out;
}
.speakerSection button i {
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
  .navBar .mobileView {
    display: none;
  }
  .navBar .topNavBar {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 30px;
    background-color: #272A31;
  }
  .navBar .topNavBar .topNavList {
    margin-right: 30px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    list-style: none;
  }
  .navBar .topNavBar .topNavList .topNavItem {
    text-decoration: none;
    color: #272A31;
    font-size: 15px;
    font-weight: 200;
    color: #D3D3D3;
    text-align: center;
  }
  .navBar .topNavBar .topNavList .topNavItem:hover {
    color: #EC5242;
  }
  .navBar .bottomNavBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    background-color: white;
    height: 70px;
  }
  .navBar .bottomNavBar a img {
    height: 60px;
    width: 60px;
  }
  .navBar .bottomNavBar a :hover {
    scale: 2;
    transition: all 0.3s ease-in-out;
  }
  .navBar .bottomNavBar .bottomNavList {
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
  }
  .navBar .bottomNavBar .bottomNavList .bottomNavItem .navLinks {
    text-decoration: none;
    color: #272A31;
    font-size: 15px;
    font-weight: 200;
    text-align: center;
  }
  .navBar .bottomNavBar .bottomNavList .bottomNavItem .navLinks:hover {
    color: #EC5242;
  }
  .navBar .bottomNavBar .voucher {
    border: #EC5242 3px solid;
    color: #EC5242;
  }
  .navBar .bottomNavBar .voucher a {
    text-decoration: none;
    color: #EC5242;
    font-size: 16px;
  }
  .programSection .program .programContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .programSection .program .programContainer .programItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .programSection .program .joinLink {
    color: #EC5242;
    font-size: 20px;
    padding: 30px;
  }
  .pastEvent .pastEventContent .pastEventContainer {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .pastEvent .pastEventContent .pastEventContainer .pastEventImage1 {
    width: 40%;
    height: 300px;
    background-position-y: -100px;
  }
  .pastEvent .pastEventContent .pastEventContainer .pastEventImage2 {
    width: 40%;
    height: 300px;
    background-position-y: -100px;
  }
  .speakerSection #jsSection {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}/*# sourceMappingURL=main.css.map */